@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
:root {
  --btn-bg: #712cf3;
  --btn-bg-gradient: #864eee, #9465eb;
  --btn-border-radius: 33px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

button {
  border: none;
  user-select: none;
  cursor: pointer;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  user-drag: none;
}

textarea {
  resize: none;
}
